@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f8d6bd;
  color: #3f1726;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  color: #22305a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: #22305a;
}

.avatar {
  width: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
  .info-text {
    margin-top: 20px;
    max-width: 750px;
    text-align: left;
  }
}
@media (min-width: 701px) {
  .info-text {
    margin-left: 20px;
    width: 100%;
  }
}

.info-text {
  background: #feefc8;
  border-radius: 20px;
  padding: 15px 20px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #22305a;
  margin: 0;
  font-style: italic;
  text-decoration: none;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.bg {
  background: #feefc8;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #22305a;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #22305a;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #feefc8;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #3f1726;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #22305a;
  color: #3f1726;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.btn {
  margin-top: 20px;
  background: #3f1726;
  padding: 15px 20px;
  color: #feefc8;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.9;
}
